[2012-03-22 10:06] ChrisRM opened #1 "Delete events"
**Soeren Damrau** - [See comment](http://developer.appcelerator.com/question/133894/calendar-module-and-localytics-open-source#answer-233879)

[2012-03-22 10:09] ChrisRM opened #2 "Recurring events"
**Dan Giulvezan** - [See comment](http://developer.appcelerator.com/question/133894/calendar-module-and-localytics-open-source#answer-233960)

[2012-03-22 11:44] ChrisRM commented on #1
Fixed. Check the documentation for further details.

[2012-03-22 21:20] #1 closed, assigned to ChrisRM

[2012-03-22 21:23] ChrisRM commented on #2
Fixed. This addition will only work when using EventKit as your datasource.

[code]

[2012-03-22 21:23] #2 closed, assigned to ChrisRM

[2012-03-22 21:26] ChrisRM opened #3 "3 or more events causes duplication"
When adding 3 or more events and using EventKit as datasource, the tableview gets duplicated events. A quickfix is added in the example app.js while im working on fixing it.

[2012-04-19 09:24] ChrisRM opened #4 "Clicking event crashes the app"
Hey Chris, Ok so not getting any linkage errors and the calendar loads and seems to work in the sense that you can click on the days and they highlight which may be enough for my needs right now. However when you click on one of the events on today's day it exits the simulator. Thanks for getting me a version... appreciate it. If you send me you email address I would love to chat with you

[2012-04-19 09:28] #4 closed, assigned to ChrisRM

[2012-04-24 10:45] ChrisRM opened #6 "Module fail when building for device"
Exits with SystemExit: 65

[2012-04-24 10:45] ChrisRM opened #7 "Delete all events"

[2012-04-24 10:50] #6 closed, assigned to ChrisRM

[2012-04-24 10:51] #7 closed, assigned to ChrisRM

[2012-06-20 16:39] mattberg opened #8 "Alert (Reminder) option for Events"
Great module. I was wondering if it would be possible to add Alerts (reminders) to an event that is added? Similar to how you can add one when adding an event in iCal on the phone. Thanks.

[2012-07-01 14:44] ChrisRM commented on #8
Sure, I'll add it later this week. In iOS 6 we will have access to the reminders sdk aswell, so I might be adding some new cool features in the coming days.

[2012-07-03 09:03] vanbungkring commented on #8
hello, can i customize this calendar like http://i.stack.imgur.com/VqfEM.png??? need it urgently

[2012-07-03 14:04] mattberg commented on #8
Thanks Chris, I appreciate it.

[2012-07-08 18:42] ChrisRM commented on #8
@vanbungkring You are free to customize the calendar as you like. The only requirement is that you keep it open source.

[2012-08-06 20:50] jasonmorehouse opened #9 "Detect when the date / month has changed?"
Great module - thanks!

Is there an event to attach to that will trigger when the date has changed, or the month navigation has been clicked?

[2012-08-10 11:20] ChrisRM commented on #9
Not at the moment, sorry. I'll have a look at it asap.

[2012-08-20 03:35] adwilliamson opened #10 "Verification Issue"
Hi,
I have been using your module without any issues for the past 6 months. A couple of days ago, one of my apps that is still in development started coming up with a "Verification Issue- Unlicensed modules(s) detected".... I have tracked it down to this module (I am only using 1 other). I have tried re-installing the module, creating a new project and still the error persists.

Any ideas?

thanks

[2012-08-20 08:18] ChrisRM commented on #10
Can you please verify that this is fixed by creating a new project and including the module ? The problem happened when I uploaded the module to the marketplace. I removed it from there now, so it should be good to go again. Sorry for the inconvenience.

[2012-08-20 08:22] ChrisRM commented on #10
Should work for your current project aswell by the way. No need to create a new project.

[2012-08-20 08:46] adwilliamson commented on #10
Hi Chris,
Appreciate your quick reply. Still having issues. Have tried creating a new project and importing a newly downloaded version of the module. If could easily be something I am doing wrong, but I completely deleted the module and started again. Any other ideas?

thanks.

[2012-08-20 08:52] ChrisRM commented on #10
Theres nothing wrong with your project, its the module. I've learned that when uploading the module to the Appcelerator Marketplace, the module wont run unless you download it from Marketplace. I have deleted the module from marketplace, so its a matter of time before it starts working again, I think. If it dont, I'll contact Appcelerator and ask them to remove it from their cache.

[2012-08-20 22:41] adwilliamson commented on #10
Hi Chris,
Any news? Pretty keen to get an app submitted this week with the calendar in it, but still getting these issues. Is it possible to generate a new guid? Would that fix it?

thanks.

[2012-08-21 04:34] adwilliamson commented on #10
found this if it helps...
http://developer.appcelerator.com/blog/2011/09/module-verification.html

[2012-08-21 07:08] #10 closed, assigned to ChrisRM

[2012-08-21 20:06] dubcanada opened #11 "For some reason my events get 20 minutes added to them?"
Hello,

I have an application that creates a start date object for say "2012-08-21 17:59:44 +0000"

And when I go and look in the calendar my events are "2012-08-21 18:19:44 +0000"

So somewhere 20 minutes is being added in the module or my iPhone (4 with 5.1.1 btw)

Any idea? I haven't tested it in another phone yet, I'll do that tomorrow and post the results.

[2012-08-21 20:13] dubcanada opened #12 "Slim version?"
Hello,

I am wondering if it is possible to just have the eventkit part? I just want to be able to add events to the native iOS calendar. I don't need any of the other fancy stuff.

Is that possible?

[2012-08-21 20:18] ChrisRM commented on #12
You dont need to use the calendar view. Just set eventkit as your datasource and start adding events to the calendar. The main thing missing is the option to retrieve events as lists(array/objects). I'll see if I can add that functionality. Pretty busy atm, but I'll try to make room for it.

[2012-08-21 20:21] ChrisRM commented on #11
Please post an update after you've tested it with another device. This sounds pretty wierd

[2012-08-22 19:58] dubcanada commented on #11
I tested it with 3 other phones.

Anything going into Ag.Calendar module by javascript is correct, anything coming out has 20 minutes added onto it. (I tested a variety of dates and times).

[2012-08-22 19:59] dubcanada commented on #11
If I subtract 20 minutes from the javascript time before I send it over, it works perfectly fine.

:)

[2012-09-10 19:45] rossmd commented on #11
I'm having the exact same issue.  Tested on iPhone 4 and 4S.  Sending a javascript date of '2012-09-10 23:00:00 +0000' and the event is starting at 2012-09-10 18:20:00 (CST).

I should note im using Ti 2.1.2.GA SDK and 2.1.2 Studio

[2012-09-21 13:39] rossmd commented on #11
Any update on this?

[2012-09-21 14:06] ChrisRM commented on #11
Oh, totally forgot about this issue. I located the problem now, so I just have to make some minor changes before I upload the new build.

[2012-09-24 10:36] #11 closed, assigned to ChrisRM

[2012-09-26 08:37] #3 closed, assigned to ChrisRM

[2012-10-01 17:36] rossmd opened #13 "Error building in Ti Studio"
I just downloaded the latest build (with fixes for my other issue #11) and build the module locally.  I'm using SDK 2.1.3.v20120915120319.  The build works (no errors) and I add the module's zip file to Titanium.

But when I try to run my code using the simulator or build for Distribution, I get the following error:

[INFO] Minimum iOS version: 4.0
[INFO] Performing clean build
[ERROR] clang: erro

[2012-10-04 12:25] ChrisRM commented on #13
I'll have a look later tonight. UTC/GMT +1

[2012-10-04 19:01] exojason commented on #13
I'm getting the same error.

[2012-10-08 22:00] rossmd commented on #13
I re-compiled the module using Titanium 2.1.3.GA (just released) and the module compiled without issue and I'm able to run my program.  However, when I try to save an event to my phone's calendar from my app, nothing happens.  And I assume this is because iOS 6 requires permission to access Calendar:

https://developer.apple.com/library/ios/#documentation/DataManagement/Conceptual/EventKitProgGuid

[2012-10-09 19:13] mikehobson opened #14 "Feature Request"
Hi Chris
Is it possible to be able to select the calendar the event is added to ?

Also is there a way to output an error messages, on all other modules Ive tried I get an error "No Calendar has been set" when I use the modules on my device, it looks like it could be the same on your module but I can't see a way to output an error

Thanks

Mike

[2012-10-13 20:53] terenzeyuen opened #15 "iOS6: Can't add new event"
Hi guys,

I keep getting this message when I try to add an event in iOS6, it was working fine in iOS5.

defaultCalendarForNewEvents failed: Error Domain=EKCADErrorDomain Code=1013 "The operation couldn’t be completed. (EKCADErrorDomain error 1013.)"

Googled this:
http://stackoverflow.com/questions/12454324/defaultcalendarfornewevents-failed

I've tried using the latest zip file from installation

[2012-10-16 13:30] ChrisRM commented on #15
Download the newest build. Should work.

[2012-10-16 13:30] ChrisRM commented on #13
Try the newest build

[2012-10-22 19:27] rossmd commented on #13
Yes its working now.  Thanks a lot of updating this!!

[2012-10-22 19:27] #13 closed, assigned to ChrisRM

[2012-10-23 07:53] rhayun opened #16 "Couldn't find module: ag.calendar"
no matter where i put the module.. if its on the : ~/Library/Application Support/Titanium/modules/iphone or in /Library/Application Support/Titanium/modules/iphone
also when i put it on the project root

the module is exist but i still get the "[ERROR] Script Error = Couldn't find module: ag.calendar." when i run it o the simulator

i use it on iOS6 SDK and xCode 4.5.1 with the latest Titanium SDK

[2012-10-23 09:00] rhayun commented on #16
ok sorry my bad.. i have to clean and rebuild again.. problem solved!

[2012-10-24 12:24] ChrisRM commented on #16
Great! :+1:

[2012-10-24 12:24] #16 closed, assigned to ChrisRM

[2012-10-24 12:24] #15 closed, assigned to ChrisRM

[2012-11-08 23:46] jfalcone opened #17 "iOS 4/5 case not handled in EventKitDataSource.m"
In EventKitDataSource.m,

if ([self checkIsDeviceVersionHigherThanRequiredVersion:@"6.0"]) {

has no else statement so the addEvent: function is a no-op under iOS 4/5.

[2012-11-12 10:22] schmoove opened #18 "Customization of event tableview rows"
It would be great to be able to supply a custom TableView row to the module so the list of events on a given day could be stylized, or additional information besides just the event title could be added.
Would this be very tricky to do Chris? Great work on this by the way!

[2012-11-12 11:47] ChrisRM commented on #17
Ah, my bad. I'll fix it asap

[2012-11-12 11:47] ChrisRM commented on #18
I'll see what I can do

[2012-11-12 11:50] #17 closed, assigned to ChrisRM

[2012-11-12 19:50] schmoove opened #19 "Device app crashing due to /usr/lib/libobjc.A.dylib"
Just re-checked this bug on today's latest build in case it was fixed by the latest commit, but still happening. If I include and init the calendar in my app I get the following output from Xcode when the app crashes while running on device:

[DEBUG] Loading: /var/mobile/Applications/ABC7F2D9-5E20-4CEC-B6A4-0CE8D279AC74/Syngency.app/ag.calendar.js, Resource: ag_calendar_js
dyld: lazy symbol bindin

[2012-11-12 19:58] schmoove commented on #19
Researching this further, could this be an issue?

http://stackoverflow.com/questions/12573685/runtime-exception-after-upgrade-to-xcode4-5-ios6-base-sdk

Have attempted to change the deployment target version in my Xcode project but with same result.

[2012-11-20 07:39] ChrisRM commented on #19
Great find, I'll see what I can do.

[2012-11-23 16:46] annakozy2011 commented on #19
I am also having this problem. I am not sure, if it's only ios-5 related or also happens on ios-6

[2012-11-23 17:40] annakozy2011 commented on #19
I think I worked it out. It's indeed the problem of target version, I set it to 5.0 and then it worked (namely, it was set to 6.0 for Release, and to 5.1 for Debug, not sure why). I had to recompile the project, and for some reason, it did compile the library, but failed to package the things correctly. I just copied the missing stuff from 1.2.3 version. In any case, now it doesnt crash and works

[2012-12-11 16:33] Corliosity opened #20 "Issue with Displaying multiple events from datasource"
Hello,

I am trying to use the calendar and display multiple events from a JSON file but these become duplicated in coredata and do not show in eventkit.  I have tried using the temp fix to no avail.  is there a solution on the way?  I am willing to pay if that will help.

Thank you,

[2012-12-11 16:47] Corliosity commented on #20
I think I may have found the problem.  This error seems to exists because of the identifier duplication.  If while using coredata you have the identifier set to offer an info statement will print "An event with the same identifier already exists."  Could it be possible to use this method to keep multiple events from showing?

![Screen Shot 2012-12-11 at 9 52 04 AM](https://f.cloud.github.com/asset

[2012-12-13 02:43] schmoove commented on #19
App still crashing on iOS 5.1 device with original error message I'm afraid

[2012-12-13 10:44] annakozy2011 commented on #19
Well, I am not sure about iOS 5.1, but on 5.1.1 it´s not crashing.... You can check this app, if you want:

itms://itunes.apple.com/us/app/comfia.cat/id580824835?mt=8.

[2012-12-13 10:45] annakozy2011 commented on #19
But I compiled my own version of the library, like I said...

[2012-12-13 11:14] annakozy2011 commented on #19
Well, I am not 100% sure now, but I think I also ensured the correct (4.3) target version for my PROJECT (not for the library). I think I modified 2.1.4.GA Titanium SDK somehow to make sure it always creates the project with 4.0 or 4.3 target version. It´s not complicated, I just cant find the "pure" 2.1.4.GA now, so that I could compare my files...

[2012-12-13 11:32] ChrisRM commented on #20
Please gist or send me the file that uses the calendar, and I'll see what I can do.

[2012-12-13 11:45] ChrisRM commented on #19
New version coming up.

[2012-12-13 12:13] annakozy2011 commented on #19
It actually only crashed on 5.x, if at all... it never crashed on 6.x

[2012-12-13 12:24] ChrisRM commented on #19
Are you able to test it on 5.x ?

[2012-12-13 12:46] annakozy2011 commented on #19
No, sorry, I already finished and submitted to appstore the app, and also I used a modified version in it...

[2012-12-13 12:53] ChrisRM commented on #19
Ok, waiting for @syngency

[2012-12-13 15:52] Corliosity commented on #20
OK, I am attaching the code with the events call and the calendar display.

Thank you for your help,

-Andrew

On Dec 13, 2012, at 4:32 AM, Chris Magnussen notifications@github.com wrote:

[2012-12-13 23:46] schmoove commented on #19
Still same result on 5.1:

[code]

Not crashing the app anymore but halting execution

[2012-12-15 10:44] ChrisRM commented on #19
Please try one more time @syngency :-) Use ag.calendar-iphone-1.2.5.zip

[2012-12-15 10:46] ChrisRM commented on #20
Waiting for the code...

[2012-12-15 13:34] #8 closed, assigned to ChrisRM

[2012-12-15 13:34] #9 closed, assigned to ChrisRM

[2012-12-15 13:34] #19 closed, assigned to ChrisRM

[2012-12-15 14:10] Corliosity commented on #20
Sorry for the delay and forgetting to include code.

The gist file is located here:

https://gist.github.com/db4dbb8c79536da5500f

[2012-12-15 15:52] ChrisRM commented on #20
https://gist.github.com/db4dbb8c79536da5500f#comment-632123

[2012-12-15 21:15] joakimkanon opened #21 "All-day event"
Is it possible to create an all-day event, with just date and no time?

![all-day](https://f.cloud.github.com/assets/3052031/15125/6330460e-46fc-11e2-8741-f207d2813a3f.png)

[2012-12-15 22:59] ChrisRM commented on #21
Hmm, not in the current build. I'll add it asap

[2012-12-15 23:35] joakimkanon commented on #21
Awesome! Thanks a bunch.

Very nice module, btw. :)

[2012-12-15 23:46] ChrisRM commented on #21
Thanks :-) It'll be available tomorrow morning, Norwegian time (CET+1). Any other request while we're at it ?

[2012-12-16 01:42] joakimkanon commented on #21
Kjempeflott! ;D
No, no more requests at the moment.

[2012-12-17 01:16] schmoove commented on #19
Yep, 1.2.5 works a charm- thanks so much for sorting that Chris!

[2012-12-20 12:07] #18 closed, assigned to ChrisRM

[2012-12-27 18:31] clseva opened #22 "Longclick event"
Hi Chris, great module.

Is it possible to detect "longclick" event when you select some date? For example, it would be great to have "date:longclick" or "date:longclicked" to add a new event. Also, it could return the selected date like "date:clicked". Would this be very tricky to do?

Thanks and great work!!

[2013-01-01 23:54] ChrisRM commented on #22
Fixed! See https://github.com/Appgutta/AGCalendar#datelongpress

[2013-01-01 23:54] #22 closed, assigned to ChrisRM

[2013-01-02 11:05] clseva commented on #22
Great! It works correctly! Thank you so much!!

[2013-01-05 16:00] clseva opened #23 "Event titles in UITableView"
Hi Chris,

Since v1.2.5 (v1.2.6 included) I’ve noticed that clicking on different events added previously they are displayed in UITableView with the same title without refreshing correctly. For example, if I add a new event titled "First Event" and then another event titled "Second Event", when you click on these dates both events appear with the same title "Second Event" in TableView. I've tested

[2013-01-08 05:46] aaronce commented on #23
Hi Chris, I'm also getting this issue - the events are created on different dates correctly but the titles and other information seem to copy across..

on closer inspection placing a onclick "event:clicked" reveals that the data is actually stored correctly though, so it seems to be more of a UI issue.

also thanking you for an outstanding module!

[2013-01-08 08:42] ChrisRM commented on #23
I got the same result, but don't have time to fix it just yet. I'll have a look later today.

[2013-01-09 16:42] Corliosity commented on #20
Hey Chris,

Thanks for the fix.

However I have noticed that since 1.2.5 and 1.2.6 came out I can no longer display my data from an external source.  I have my code on a gist account here: https://gist.github.com/cf429a90f3622e327c59

Do you know the reason?

[2013-01-09 16:53] clseva commented on #20
It's a bug. Chris is working on it.
See: https://github.com/Appgutta/AGCalendar/issues/23

[2013-01-09 16:54] Corliosity commented on #20
Thanks

[2013-01-09 21:37] ChrisRM commented on #23
Had a hard time figuring out this one. Try it out and let me know how it goes.

[2013-01-10 00:17] aaronce commented on #23
Brilliant, works perfectly now. I also tried to look under the hood on this but couldn't find the issue.
Thanks a lot Chris.

[2013-01-10 02:20] clseva commented on #23
Chris, excellent work. It works with added events properly now.

I'm sorry to bother you more, but just missing to fix it when deleting with "swipe-to-delete". Using the same example, if you delete a second event added, the first event dissapears in tableview. Only reloading or clicking on next/previous month, events appear in tableview updated correctly.

Thank you so much for the hard work.

[2013-01-10 05:24] aaronce opened #24 "Find and return a stored Event."
Hi Chris,
I was wondering if there is anyway to find and return an event in this module, I've had a quick look and couldn't see anything that stood out to me, is the only way to access the event through an 'event:clicked'..?

I was thinking it might be useful to have a function that could accept an event's identifier and return the details as an array.

Aaron.

[2013-01-10 06:12] ChrisRM commented on #24
This feature is on the roadmap for version 1.3, but I might just include it in 1.2.8 if all goes well. I'll see what I can do.

[2013-01-10 06:15] ChrisRM commented on #23
Looking into it.. :-) thanks for testing guys.

[2013-01-10 06:16] aaronce commented on #24
nice. thanks for the info.

[2013-01-10 08:14] ChrisRM commented on #23
Hmm, im not able to reproduce this one. Provide me with some sample code, and I'll fix it asap

[2013-01-10 10:38] clseva commented on #23
Hi Chris, see sample code:
https://gist.github.com/4501042

And a video example (I'll delete it at the end):
http://youtu.be/R6iHIvplSnM

[2013-01-10 10:42] ChrisRM commented on #23
Nice job, let it stay for a while so I can have a look when im finished at work.

[2013-01-12 18:29] Corliosity commented on #20
Hey Chris when using Coredata as the data source we still get event duplication even when passing a timeout function.  Can you take a quick look for me please? Thanks!

https://gist.github.com/8deee7d1a7e6af371676

Or could it be a problem with how I am calling and adding data?

Sorry for taking up time but thank you for all of your help.

[2013-01-12 18:38] Corliosity commented on #20
This is what i got from one of our other developers working on the issue:

The only problem I see in here is that events are being added every time the app runs.
The identifier we get from Ti.Calendar.identifier generates a new hash at each request, that makes me think this could be the source of the problem.

[2013-01-12 18:57] Corliosity commented on #20
Sorry for opening and re-opening my group has figured out a way to solve this problem through the API:

What do you guys think if we create our on fix?
Is it easy to send another parameter with the JSON?
Let's say we send a udid along each event. When we events: If they have a different UDID, we add it, otherwise the module verifies on its own that the event already exists and don't add it :)

The

[2013-01-12 18:57] #20 closed, assigned to ChrisRM

[2013-01-16 22:15] jasonmorehouse opened #25 "iPad support"
Great calendar.  Thanks for adding the ability to detect when the month has changed.

Our app got rejected on the iPad because the calendar was fullscreen instead of in a pop-up.  The ability to use a pop-up window / view on the iPad would be great.

Thanks again!
-Jason

[2013-01-28 19:18] clseva commented on #23
Hi Chris,
Have you been able to take a look at it?

Thanks a lot.

[2013-01-31 20:21] ChrisRM commented on #23
I'll see what I can do this weekend. Quite busy atm.

[2013-02-05 07:09] ChrisRM commented on #25
Now that just sucks. I'll see what I can do.

[2013-02-08 16:47] #24 closed, assigned to ChrisRM

[2013-02-12 03:22] aaronce opened #26 "week day titles and header title shadows are hard coded."
Hi Chris, this is more of an issue with Kal  - but the shadows and font colours for some titles are hard coded in KalView.m "addSubviewsToHeaderView". Is this something you wish to work on at some stage? or would it be easier to ignore alter individually and recompile based on the project being worked on?

[2013-02-12 10:29] jpsubbarayalu opened #27 "How to show WeekView and Day View using AGCalendar Module?"
Hi Chris,

i am implementing a Calendar application which consists of Month,Week and Day view.Can u please let me know how to show these views.

Also i can able to add events in the calendar.Its displaying in the Table.Then how to show event detail page in this Calendar Module.

Thanks,
Jayaprakash S

[2013-02-12 16:20] ChrisRM commented on #26
The titles are currently localized, meaning it'll follow the phones language setting. If you want more dynamic titles, I could add some functionality for it, I just don't see the use case here.

[2013-02-12 16:40] ChrisRM commented on #27
There are no week/day-view, but the module allows you to list out all events, so you can create your own view.

Currently im not taking advantage of the iOS built-in "EKEventViewController", so you'll have to create the add/edit view yourself. The reason why I left that one out is because of the multiple datasources. The EKEventViewController works great for adding events to the EventKit datasourc

[2013-02-12 16:40] #27 closed, assigned to ChrisRM

[2013-02-14 08:46] jpsubbarayalu opened #28 "How to move Event detail page after user select particular event?"
Hi Chris,

Thanks for your excellent module.Here can able to add the event.So event displaying in the Table.So if user Tap any event how to move event detail page?
Please let me know how to resolve this issue?

With respective native code i can do the following stuff from DidSelectRowIndexPath tableview delegate method.

[code]

Thanks,

[2013-02-14 15:33] ChrisRM commented on #28
Use the event:clicked listener. The README has some example code to illustrate the usage.

[2013-02-15 06:50] jpsubbarayalu commented on #28
Hi Chris,

Thanks for your answer.i am using the following example code.

calendarView.addEventListener("event:clicked", function(e) {
    var event = e.event;
    var start_date = new Date(event.startDate);
    alert(event.title+" will start "+start_date);
});

So after selecting any event i can able to see the Alert.But how to Navigate in to Event detail page.Actually in iOS native part it will

[2013-02-15 06:56] aaronce commented on #28
You have to create the Event view and pass the event data manually, this module handles the calendar UI and data storage.

an example of doing that would be to create a new Ti.UI.Window when an event:clicked is fired and pass the target event information to it.

[2013-02-15 06:59] aaronce commented on #26
it's just when I am customising the UI png files some of the titles are a fixed colour and shadow, like I mentioned it's more of a Kal issue.. I can change manually it's okay :)

[2013-02-15 07:52] ChrisRM commented on #26
Ah, Im in the work of making the module more customizable, so I'll drop this one in. I would love if you sent me a screenshot of the new UI you made. Maybe I'll add some different themes aswell.

[2013-02-15 07:55] ChrisRM commented on #28
Hmm, I just realized there is no editEvent method in the module. I'll add it to the roadmap for v1.3.

[2013-02-15 08:24] #28 closed, assigned to ChrisRM

[2013-02-15 10:06] ChrisRM commented on #12
Fixed in https://github.com/Appgutta/AGCalendar/commit/4b3d1edda7e7a0dca591e8c0aacde6a7d378cb82

[2013-02-15 10:06] #12 closed, assigned to ChrisRM

[2013-02-16 08:48] aaronce commented on #26
okay, will post one up as soon as I can.

[2013-02-24 11:34] #25 closed, assigned to ChrisRM

[2013-02-26 02:13] aaronce commented on #26
Hi Chris, here is the screenshot of altered UI, no huge modifications in layout just some colour changes.

edit: didn't realise the screenshot was so large sorry...

<img src="https://f.cloud.github.com/assets/914231/194706/0b8be6f0-7fba-11e2-9fde-8e47697aaaad.jpg" width="320">

By Chris: Just scaled down the image a bit :-)

[2013-02-26 08:11] ChrisRM commented on #26
Nice job, I'll be releasing an experimental branch later tonight (CET+1). The new branch supports the following methods:
- `showTable` - Show(true) or hide(false) tableView (Defaults to true)
- `theme` - Yeah, style everything! See example below

[code]

[2013-02-26 08:14] aaronce commented on #26
nice, looks interesting, I'll have to give a it try.

[2013-02-26 16:29] soyoh opened #31 "ipad view changed?"
Hello,
i was using your module, that works great, but today i've update to las version you pushed, and now iPad view is different??
i mean, before ipad show opened big on window (like native), but now i just opened like on iphone: small at tope left.

this is a normal behavior??
thanks

[2013-02-26 18:49] ChrisRM commented on #31
I had to change it to support UIPopoverView on iPad instead, as Apple was rejecting the fullscreen version. See Issue #25

[2013-02-26 21:55] soyoh commented on #31
ah ok i see.
so on iPad is not possible to use a calendar in full view?? this will just make change all desing on my app..

thanks!!

[2013-02-26 22:02] ChrisRM commented on #31
Im working on an update that scales the calendar according to the parent view. I'll let you know when its ready.

[2013-02-26 22:02] #31 closed, assigned to nobody

[2013-02-26 22:08] soyoh commented on #31
ok, awesome. thank you !

[2013-03-04 13:59] clseva opened #32 "deleteEvent error"
Hi Chris, I'm testing deleteEvent function and always return this error:

[code]

Example date:longpress event:

[code]

Tested on Titanium v3.0.2 GA and AGCalendar >= v1.2.7 with coredata datasource.

Please, can you fix it?
Thanks

[2013-03-04 14:48] clseva opened #33 "deleteEvent error"
Hi Chris, I'm testing deleteEvent function and always returns this error:

[code]

Example date:longpress event:

[code]

Tested on Titanium v.3.0.2 and AGCalendar >= v.1.2.7. Datasource: coredata.

Can you fix it?
Thanks!

[2013-03-04 14:48] #32 closed, assigned to nobody

[2013-03-07 14:13] #33 closed, assigned to ChrisRM

[2013-03-07 18:11] clseva commented on #33
Chris, works fine!
Thank you so much

[2013-03-07 19:23] jonasthoor opened #34 "no identifier supplied in answer from fetchEvents"
When fetching events from the EventKit your documentation says "When using Core Data your custom identifier is returned, else the auto generated eventIdentifier in EventKit is returned.".

Still the object received contains no identifier...
{"title":"AAA - BBB","startDate":"2013-03-31T15:30:00.000Z","location":"CCC","endDate":"2013-03-31T17:30:00.000Z","alarmOffset":"-86400.000000"}

is the only d

[2013-03-09 22:53] nubu opened #35 "Control height of the list?"
Hey,

is there a way to handle/control the height of the module or/and of the list under the calender? Cause i wanna add things under the calender, and it's 100% height automaticly ... ?

[2013-03-10 09:43] ChrisRM commented on #35
Im currently working on version 2.0 of the module. The module is totally rewritten to support dynamic sizing, turning tableview on and off, improved rendering, week numbers, theming, and alot more. Im about 95% done with it, so it wont be long before I release it. End of this week if all goes well.

[2013-03-10 09:52] #34 closed, assigned to ChrisRM

[2013-03-10 11:03] nubu commented on #35
That would be totally awesome! Looking forward :)

[2013-03-11 12:36] clseva commented on #35
Chris, that's great news!
Just one thing: I've seen that when there are more than four events saved in the same day, tableview always scrolls to the top and don't allow you to select or see correctly the other events (iPhone version at least). Please, keep this in mind for the next version!
Greetings

[2013-03-11 13:20] clseva commented on #35
Ah! I forgot! When you add events with different hours in the same day, would be great if tableview displays them sorted in ascending order by hour and not by ascending ID or creation order regardless of the event hour.

Thank you so much!

[2013-03-11 19:51] jasonmorehouse opened #36 "allDay support for events"
When adding an event with no time, 00:00 -- 06:00 is listed for the time for the event when clicking on a date.  Is there anyway to hide the time incase of a fullday event?

I noticed in the code it checks for allDay, but passing this to the event doesn't seem to make a difference.

Eg:

[code]

![Screen Shot 2013-03-11 at 12 51 25 PM](https://f.cloud.github.com/assets/1195376/245545/145ddbd2-8a85

[2013-03-11 20:21] ChrisRM commented on #36
allDay event are currently not supported, but I've added it in version 2.0 ( See https://github.com/Appgutta/AGCalendar/issues/35#issuecomment-14678799 ).

[2013-03-12 13:22] ChrisRM commented on #35
@Digitalico This is fixed in 2.0

[2013-03-12 14:20] ChrisRM commented on #23
Fixed in release 2.0

[2013-03-13 12:27] clseva commented on #35
Excellent Chris. For end: Is it possible to detect when you delete in tableview a event with swipe gesture? Something like 'event:deleted' event listener. In this way, I could fire other events in the app or database.

Sorry for my persistence :)
Thank you for everything!

[2013-03-13 12:33] ChrisRM commented on #35
Will do!

[2013-03-14 13:50] sschua74 commented on #34
Hi chris,

Still the same for ver 1.2.8. It does not contain the identifier.
I am using iphone 4s ios 6.1.2, titanium SDK 3.0.2

[2013-03-14 14:04] sschua74 opened #37 "no identifier supplied in answer from fetchEvents"
Hi chris,

Still having the same issue, event identifier never return in fetchEvents
I am using ag.calendar 1.2.8, iphone4s ios 6.1.2. Titanium SDK 3.02.
Thanks

[2013-03-15 21:43] jasonmorehouse commented on #36
Sounds great.  Let me know when 2.0 is ready for some testing.  Thanks for the efforts.

[2013-03-16 21:09] joseandro opened #38 "Ti.Calendar.getEvents() returns null"
Hi Chris,

When using version 1.2.8, the API call Ti.Calendar.getEvents() always returns null (even when there are more than 100 events previously subscribed for the current year).

Is this a bug?
When do you plan to release the version 2.0 ?
Can't wait ;)

Thanks

[2013-03-18 07:17] ChrisRM commented on #38
The plan was to release it on friday the 15th, but I've had to much to do at work. I'll release it by the end of the week.

In the meantime, I'll upload 1.2.9 which will fix this issue and a couple others later today or tomorrow night.

[2013-03-18 07:18] ChrisRM commented on #37
1.2.9 with this and a couple other fixes will be released later today or tomorrow.

[2013-03-19 04:58] rosswaycaster opened #39 "Remove Time from Event View"
Is there anyway to remove the time from the event view? It is showing in 24 hour format and I don't need it to be there. I tried removing it from the source, but I haven't been successful with compiling it. Any advice?

[2013-03-20 00:22] ashishraghavan commented on #38
Great. I have also been having the same issue and trying to figure out why is it so. By the way, thanks for this awesome module.

[2013-03-21 15:29] joseandro commented on #39
I am also looking for this feature.

[2013-03-21 15:30] joseandro commented on #38
I'd really appreciate it, Chris!
I look forward to see it working :)

Thanks

[2013-03-22 09:04] ChrisRM commented on #39
This is already added in 2.0. Just some cleaning up to do before I release it.

[2013-03-24 02:32] ChrisRM opened #40 "2.0RC1"
So, I've been working on this 2.0.RC1 release for a while, and wanted to post a status.
Im sure I've forgot alot of the changes Ive made, but this should be the most important fixes and additions. Im currently working on the last feature before I release it, which is the ability to select which calendar to add the event to (EventKit).

That said, Im really considering submitting this module to the

[2013-03-25 21:42] jasonmorehouse commented on #40
This would be a welcome module in the marketplace, as the existing implementations are not great.  Of course, open source is nice too... but I'd be happy to contribute to your efforts.  If you don't end up adding it to the marketplace, put-up donate link so we can buy you some beers for the weekend!

-J

[2013-03-25 22:03] aaronce commented on #40
sounds great so far chris!

[2013-03-26 07:17] schmoove commented on #40
Yes- please put up a Paypal Donate button at least in the meantime- We're greatly appreciative of your efforts Chris!

On 26/03/2013, at 11:03 AM, Aaron Eastall notifications@github.com wrote:

[2013-03-26 07:45] soyoh commented on #40
sound great, it would be awesome if is opensource, for sure i'll donate if you put some paypal donation buttons or something similar.
Thanks!

[2013-03-26 08:14] ChrisRM commented on #40
I think I'll release version 2 in the marketplace and keep version 1 open source. I'll also merge the fixes from v2 to v1 so it functions correctly. Version 1 is more like the native calendar in iOS, so I think that would be the right thing to do.

Im also thinking about removing Core Data(sqlite really) from the available datasources in v2, as you can select which calendar to add events to in Eve

[2013-03-26 10:49] clseva commented on #40
Hi Chris, I'm agree with you and I think your solution is the more balanced, specially if you merge new/pending features with actual version for now and keep this one open source in the future. Also, it is appreciated the private repository with new version for us or the "betatesters" :).

Thank you!

[2013-03-27 08:17] Nubuu commented on #40
Hey Chris - looks awesome :) A private acces to give you feedback would be awesome!

One question:
Can we manipulate the data seen on the Edit screen? For example is it possible to insert own Repeat "types" or maybe just a extra field or something like that... ? :+1:

[2013-03-27 12:05] ChrisRM commented on #40
The edit screen is not customizable, and I don't have any control over it. You have the option not to use it though. If you set `nativeEditor` to false, you can create your own custom view and insert the data provided by `event:clicked`.

Im in the work of setting up the private repository and inviting some betatesters. I want the module to be well tested before I upload it to the Marketplace. So.

[2013-03-27 12:07] ChrisRM commented on #21
Fixed in version 2.0, will be merged in version 1.3

[2013-03-27 12:07] #21 closed, assigned to ChrisRM

[2013-03-27 12:07] ChrisRM commented on #26
Fixed in version 2.0, will be merged in version 1.3

[2013-03-27 12:07] #26 closed, assigned to ChrisRM

[2013-03-27 12:08] ChrisRM commented on #14
Fixed in version 2.0 which will be available in the Marketplace soon.

[2013-03-27 12:08] #14 closed, assigned to ChrisRM

[2013-03-27 12:09] ChrisRM commented on #36
Fixed in version 2.0, will be merged in version 1.3

[2013-03-27 12:09] #36 closed, assigned to ChrisRM

[2013-03-27 12:09] ChrisRM commented on #37
Fixed in version 2.0, will be merged in version 1.3

[2013-03-27 12:09] #37 closed, assigned to nobody

[2013-03-27 12:10] ChrisRM commented on #38
Fixed in version 2.0, will be merged in version 1.3

[2013-03-27 12:10] #38 closed, assigned to nobody

[2013-03-31 13:23] nubu commented on #40
<< Would love to test it and give you feedback! ;-)

[2013-03-31 20:33] clseva commented on #40
+1 :) Thank you!!

[2013-04-03 06:48] aaronce commented on #40
Screenshots look awesome. I think you're right with keeping v1 and v2 separate. I already have a project lined up where v2 will be useful!

[2013-04-08 06:39] jasonmorehouse commented on #40
Thanks Chris.  Please add me to the beta.  I'm happy to pay in the marketplace but would love to test the calendar in our own beta.

Cheers,
-Jason

[2013-04-08 08:49] ChrisRM commented on #40
I've been busy at work the last week or so. I'll see if I can upload it within a couple of days.

I'll send you some invitations as soon as the module is ready for some testing.

[2013-04-16 10:27] soyoh opened #41 "any approved app for iphone using this module?"
Hello,
i'm wondering if there is a list of apps using this module, or if anyone has encountered a problem when releasing to the appstore??

Thanks.

[2013-04-16 10:41] soyoh opened #42 "month:previous not returning data"
Hi,

im using the callback function to execute function on callback, i'm using a remote json to fillup the calendar, so, if user is moving beetween months, i just call the api to load then into the module.

but the callback mont:next and mont:previous is not returning the current date, i'm doing anything wrong??

[code]

[2013-04-17 20:31] nubu commented on #41
Nope no problem - everything works fine ;)

[2013-04-26 10:29] clseva commented on #40
Hi Chris, any news?

[2013-05-16 16:51] nubu commented on #40
Hey Chris, anything new for RC2.0 ? :) Would be soo awesome !

[2013-05-17 15:48] eLBMIN opened #43 "iPad"
Hi,
on iPad the view has a width of 320px and is living on the left border. The month text is in the middle of window (outside of calendar ...)

Any ideas?
Rainer

[2013-05-17 15:54] AppWerft opened #44 "Content of assets folder is missing (missing backgrounds)"
Hi,

I ahve found: I have copied the assets folder parallel to ag.calendar.a

[2013-05-23 15:27] clseva commented on #43
AGCalendar needs to create a popover on iPad.

See app.js example:
https://github.com/Appgutta/AGCalendar/blob/master/example/app.js#L239

[2013-05-23 15:59] ChrisRM commented on #40
Just wanted to say that I havent abonded the module, I just have so much to do at work these days. I'll try to make some time for it this weekend.

[2013-07-01 15:12] Nubuu commented on #43
Is there anything new about this?

I mean ... i found a hint to replace a line in KalViewController.m to achieve a full width calendar... Even if it looks a bit crappy.

How can i recompile the Module after changing this line? xcode throws me an error all the time

[2013-07-01 15:13] Nubuu commented on #40
Hey Chris - any news about the module?

[2013-07-26 07:21] gtaure opened #45 "Ti.Calendar.addEvent(object)"
How can I get the unique id of the added event from eventkit not coredata?

[2013-10-30 10:33] ChrisRM commented on #40
Hi guys, finally I got some time to finish up this thing. I will be working on the module this week and through the weekend and push it early next week.

[2014-02-24 08:52] ChrisRM commented on #40
Once again, sorry for the delay! I need testers for the new module, which is 100% customizable, includes a week and day view, week numbers and much more. All testers will get access to a private repository with all source files. Let me know

[2014-02-24 08:59] ChrisRM opened #46 "I need testers!"
That's right, I need some testers for the updated modules. All testers will get access to a private repository with all the source files.

There will be two modules to test, both compatible with iOS 7. I will be releasing the source for one of the modules, which includes the calendar month view, with some neat features. The other one will be put on the Marketplace and includes a month, week, day a

[2014-02-24 10:08] nubu commented on #46
Hey, like to test the module since i am using the old version months ago :)

best,
Nico
(me@nicobarelmann.de)

[2014-06-17 11:44] schmoove commented on #40
Hi Chris,

Just thought I'd add a polite bump to this thread ;)
I'm sure you're plenty busy with other projects, but I'd be really interested to see how things are coming with the v2 module. I'd also like to volunteer some sponsorship for its development if that would help.. Cheers!

[2014-09-05 02:13] xpegsniper1 commented on #46
I would definitely be willing and interesting to be involved with testing the iOS7 modules.

[2015-03-21 21:47] nadavho opened #47 "Add attendees to event"
Hi,

do you support it ? how complex is it for you to implement this.
it seems weird at least for the appcelerator built-in module not to support such a needed and basic property.

Thank you.

Nadav

[2015-06-18 15:17] billwyuan opened #48 "Not support 64 bits, display of selected dates is not working"
It is great code and view, able to show a certain day with value, min and max, but the display of selected dates is not shown up. Needs to improvement.

[2015-07-07 19:15] sidmurali commented on #48
Any chance of extending the module to support 64 bit architecture?

[2015-07-14 01:11] billwyuan commented on #48
Looks ag is not responding.

Best regards,
Bill Yuan

[2015-08-17 10:17] vinhtq commented on #48
Any update? Does the owner abandon this project?

[2015-08-17 20:01] billwyuan commented on #48
Maybe he abandoned it, but I bought it and can't use it. I think he should provide the source code to update it.

Best regards,
Bill Yuan

[2015-09-29 07:28] ChrisRM commented on #48
@billwyuan I've never charged anything for this module, and the source is fully open source. I haven't worked with appcelerator for a while, but I assume there are better calendar alternatives by now? If not, I'll see if I can upload the latest build I got which does work on 64 bit architecture and is fully customizable. Just need to clean it up a bit.

[2015-10-04 01:38] billwyuan commented on #48
Hi Chris,
I loved Uakami calendar, maybe I did not pay it but I have used for development for more than three months. No better calendar than yours but it is not working with any new 64 bits or iPhone 8.
You mentioned it is open source, can you please let me know where is the url for Xcode so that I can compile it to 64 bits? Or you can build that module.
thanks a million!
 With Regards, 
Bill Yua

[2015-10-04 01:42] billwyuan commented on #48
Hi Chris,
AGCalendar main issue is the selecting day does not fire an event, as it used to work in early version. When click a day of month in calendar user interface, it should fire an event but it does not. 
thank you very much!With Regards, 
Bill Yuan  

[code]

 Hi Chris,
I loved Uakami calendar, maybe I did not pay it but I have used for development for more than three months. No better calen

[2018-01-22 10:31] ravi9836 commented on #48
@ChrisRM can you provide the latest code for ag.calendar which can support 64 bit arm